<div class="accordion" >

<h3>Click here to show/hide the extra information for instructors and TAs</h3>
<div class="extra-information">
<table class="pr-admin" >
<thead>
<tr><th></th>
    <th></th>
    <th></th>
    <th colspan="3">Students</th>
</tr>
<tr>
    <th>Student</th>
    <th>Self review link</th>
    <th>Status</th>
    <th>Number not started</th>
    <th>Number in progress</th>
    <th>Number completed</th>
</tr>
</thead>
<tbody>
{% for item in r_actuals %}
    <tr class="pr-admin-{% cycle 'odd' 'even' %}">
    <td>[{{item.submission.group_submitted.name}}] {{item.graded_by.display_name}}</td>
    <td><a href="/review/{{item.unique_code}}/" target="_blank">Open review</a> </td>
    <td>{% if item.status == 'C'%}  <span style="color:darkgreen">Completed</span>
        {% elif item.status == 'P'%}<span style="color:orange">In progress</span>
        {% else %}                  <span style="color:red">Not started</span>
        {%endif%}</td>
    <td style="text-align:center">{{item.summary_stats.learner_grader_not_started}}</td>
    <td style="text-align:center">{{item.summary_stats.learner_grader_inprogress}}</td>
    <td style="text-align:center">{{item.summary_stats.learner_grader_completed}}</td>
    </tr>
{% endfor %}{# for item in r_actuals  #}
</tbody>
</table>
</div> <!--extra information-->

</div> <!--accordion-->