<div class="accordion">

<h3>Click here to show/hide the extra information for instructors and TAs</h3>
<div>
<table class="pr-admin" >
<thead>
<tr><th></th>
    <th></th>
    <th></th>
    <th colspan="2">Instructors</th>
    <th colspan="2">Students</th>
</tr>
<tr>
    <th>Group name</th>
    <th>Peer review link</th>
    <th>Your status</th>
    <th>Reviews completed</th>
    <th>Reviews completed</th>
    <th>Reviews in progress</th>
</tr>
</thead>
<tbody>
{% for item in r_actuals %}
    <tr class="pr-admin-{% cycle 'odd' 'even' %}">
    <td>{{item.submission.group_submitted.name}} (ID={{item.submission.group_submitted.id}})</td>
    <td><a href="/review/{{item.unique_code}}/" target="_blank">Access peer review</a> </td>
    <td>{% if item.status == 'C'%}  <span style="color:darkgreen">Completed - <em>thank you</em></span>
        {% elif item.status == 'P'%}<span style="color:orange">In progress (not complete) </span>
        {% else %}                  <span style="color:red">Not started</span>
                      {%endif%}</td>
    <td style="text-align:center">{{item.summary_stats.admin_grader_completed}}</td>
    <td style="text-align:center">{{item.summary_stats.learner_grader_completed}}</td>
    <td style="text-align:center">{{item.summary_stats.learner_grader_inprogress}}</td>
    </tr>
{% endfor %}{# for item in r_actuals  #}
</tbody>
</table>
</div> <!--extra information-->
</div> <!--accordion-->