<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<style>
body {
    font-size: 11pt;
}

/* Header styles */
#header {
    clear:both;
    float:left;
    width:100%;
}
#header {
    border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
    padding:.4em 15px 0 15px;
    margin:0;
}

/* 'widths' sub menu */
#layoutdims {
    clear:both;
    background:#eee;
    border-top:4px solid #000;
    margin:0;
    padding:6px 15px !important;
    text-align:right;
}
/* column container */
.colmask {
    position:relative;	    /* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;			    /* width of whole page */
    overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
    float:left;
    width:100%;
    position:relative;
}
.col1,
.col2,
.col3 {
    float:left;
    position:relative;
    padding:0 0 1em 0;
    overflow:hidden;
}
/* 2 Column (right menu) settings */
.rightmenu {
    background:#eee;		/* right column background colour */
}
.rightmenu .colleft {
    right:36%;			    /* right column width */
    background:#fff;		/* left column background colour */
}
.rightmenu .col1 {
    width:65%;			    /* 65-2-2: left column content width (left column width minus left and right padding) */
    left:35%;			    /* 35+2(right column width) plus (left column left padding) */
}
.rightmenu .col2 {
    width:35%;			    /* 35-2-2: right column content width (right column width minus left and right padding) */
    left:35%;			    /* 35+(2+1)+1: (right column width) plus (left column left and right padding) plus (right column left padding) */
    height:84%;
    overflow : auto;
}
/* Footer styles */
#footer {
    clear:both;
    float:left;
    width:100%;
    border-top:1px solid #000;
}
#footer p {
    padding:10px;
    margin:0;
}

.even{
    background:#ccc;
}
.odd{
    background:#ddd;
}
.submit_button{
  display: table;
  margin: auto;
}
p{
margin: 0;

}
.clear {clear: both;}
.radio_text {
  display: block;
  margin-top: -20px;
  margin-left: 28px;
}
.radio_button{
  margin-left: 5px;
}

.checkbox{
  margin-left: 5px;
  margin-right: 5px;
}
textarea
{
  width:100%;
}
.textwrapper
{
  border:1px solid #999999;
  margin:5px 0;
  padding:3px;
}

.start_dt{
  float:right;
  margin:5px 0;
  padding:3px;
  background: #ddd;
  width:20%;
}
.end_dt{
  float:right;
  margin:5px 0;
  padding:3px;
  background: #ccc;
  width:20%;
}
h2{
    font-family: Lato;
}

/* http://zurb.com/playground/css3-polaroids */
.front-image{
    width: 300px;
}
ul.polaroids li {
    display: inline;
}
ul.polaroids a {
    background: #fff;
    display: inline;
    float: left;
    margin: 0 0 27px 30px;
    width: 30%;
    padding: 10px 10px 15px;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    font-size: 1em;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    <!---webkit-transform: rotate(-1deg);-->
    -webkit-transition: -webkit-transform .15s linear;
    <!---moz-transform: rotate(-2deg);-->
}
ul.polaroids li {
    padding-left: 0;
}
@media screen and (max-width: 768px) {
    ul.polaroids li a {
        margin-left: 0;
    }

}
ul.polaroids img {
    display: block;
    width: 100%;
    margin-bottom: 12px;
}
ul.polaroids a:after {
    content: attr(title);
}
ul.polaroids li:nth-child(even) a {
    <!---webkit-transform: rotate(2deg);-->
    <!---moz-transform: rotate(2deg);-->
}
ul.polaroids li:nth-child(3n) a {
    -webkit-transform: none;
    position: relative;
    top: -5px;
    -moz-transform: none;
}
ul.polaroids li:nth-child(5n) a {
    <!---webkit-transform: rotate(5deg);-->
    position: relative;
    right: 5px;
    <!---moz-transform: rotate(5deg);-->
}
ul.polaroids li:nth-child(8n) a {
    position: relative;
    right: 5px;
    top: 8px;
}
ul.polaroids li:nth-child(11n) a {
    position: relative;
    left: -5px;
    top: 3px;
}
ul.polaroids li.messy a {
    margin-top: -400px;
    position: relative;
    left: 160px;
}

<!---webkit-transform: scale(1.25);-->
<!---moz-transform: scale(1.25);-->

ul.polaroids li a:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    position: relative;
    z-index: 5;
}
h2.polaroid-overlay {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}
h3.polaroid-overlay {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
}

h2.polaroid-overlay span {
    color: white;
    font: bold 36px/45px Helvetica, Sans-Serif;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
h3.polaroid-overlay span {
    color: white;
    font: bold 16px/26px Helvetica, Sans-Serif;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    float: left;
}

/* Admin view tables*/
table.pr-admin {
    margin-left: 0px;
}
.pr-admin th {
    text-align: center;
}
.pr-admin td, th {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.pr-admin-odd{
    background-color: #eee;
}
.pr-admin-even{
    background-color: #fff;
}

.pr-admin tr:first-child{
   border-top: 1px solid black;
}
.pr-admin tr:last-child{
   border-bottom: 1px solid black;
}
.ui-accordion .ui-accordion-header {
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    font-size: 100%;
    background: #009fff;
}
.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #00fff;
    font-weight: normal;
    color: #ffffff;
}
.ui-icon-background,
.ui-state-active .ui-icon-background {
    border: #007fff;
    background-color: #ffffff;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #ffffff;
    text-decoration: none;
}
</style>
<link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
$( function() {
  $( ".accordion" ).accordion({
    collapsible: true
  });
  $( ".accordion" ).accordion( "option", "collapsible", true ).accordion( "option", "active", false );
} );
</script>
  
{% block header %}{% endblock %}

{% block content %}{% endblock %}


{% block footer %} {% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-91391576-2', 'auto');
  ga('send', 'pageview');
</script>
