{% if uploaded_items_exist %}
   <ul class="polaroids large-block-grid-4 small-block-grid-2">
   {% for submission in uploaded_items %}
        <li><a href="/{{submission.file_upload.url}}" title="{{submission.submitted_by.display_name}} " data-ajax="false" class="ui-link" target="_blank">
               <img class="front-image" alt="View the work of {{submission.submitted_by.display_name}}"  src="/{{submission.thumbnail.url}}"></a></li>

   {% endfor %} {# for item in  uploaded_items#}
   </ul>
{% else %}
<p>No items have been uploaded by other participants yet. Want to be the first? Please submit above.
{% endif %}{# if uploaded_items_exist #}

<div class="clear"></div>