
{% extends "review/base.html" %}

{% block content %}

<h2>Submission phase</h2>
<p>Submission of your work {% if allow_submit %}is{%else%}was{% endif %} due on: {{pr.dt_submission_deadline|date:"l, d F Y"}} at {{pr.dt_submission_deadline|time:"H:i" }}


<hr>
<h2>Review phase{% if person.role == 'Learn'%}: {{pr.number_of_reviews_per_learner}} peer reviews required{%endif%}</h2>
<p>Start date and time for this review: {{pr.dt_peer_reviews_start_by|date:"l, d F Y"}} at {{pr.dt_peer_reviews_start_by|time:"H:i" }}
<p>You must complete <b>and submit</b> the reviews before: {{pr.dt_peer_reviews_completed_by|date:"l, d F Y"}} at {{pr.dt_peer_reviews_completed_by|time:"H:i" }}

{% if allow_review %}
<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
{% for item in r_actuals %}
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapse_review{{forloop.counter}}" aria-expanded="true" aria-controls="collapse_review{{forloop.counter}}">
          Peer review {{forloop.counter}}{% if person.role != 'Learn'%} [A={{item.submission.number_reviews_assigned}}]{C={{item.submission.number_reviews_completed}}}: {{item.submission.submitted_by.full_name}} {% endif %}
        </a>
      </h5>
    </div>
    <div id="collapse_review{{forloop.counter}}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <p>Please <a href="/review/{{item.unique_code}}/" target="_blank">access this peer review here</a> (opens in a new tab)

        <!--{{item.submitted}}-->
      </div>
    </div>
{% endfor %}
  </div>
</div>
{% else %} {# if allow_review #}
<p>The review stage has passed. No further reviews can be completed.
{% endif %}

<hr>
<h2>Feedback phase</h2>
Feedback from your peers is available after: {{pr.dt_peer_reviews_received_back|date:"l, d F Y"}} at {{pr.dt_peer_reviews_received_back|time:"H:i" }}

{% if allow_report %}
{% if report__n_reviews == 0 %}
<p>There is no feedback, as you did submit work for the peer review.
{% else %}

<p>You were evaluated by {{report__n_reviews}} peers.

<ul>

{% for key, value in report.items|dictsort:0 %}
<li>Score for criterion {{key}}: {{value.avg_score}} out of {{value.max_score|floatformat}} points. (raw data from your peers: {{value.raw}})
{% endfor %}
</ul>

Overall score: {{report__learner_avg}} out of a maximum of {{report__overall_max_score}} points
<br>
Comments and feedback from your peers are in anonymized, randomized order:
<ul>
{% for commentitem in report__comments %}
<li>{{commentitem}}
{% endfor %}
</ul>


{% endif %} {# report__n_reviews == 0 #}
{% endif %} {# allow_report #}

{% endblock %}

<!--
<form enctype="multipart/form-data" method="post" action="/">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
-->

