
{% extends "review/base.html" %}

{% block content %}

<h2>Welcome {{person.full_name}}!</h2>

<hr>

<div id="accordion" role="tablist" aria-multiselectable="true">
  <div class="card">
{% for item in r_actuals %}
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_review{{forloop.counter}}" aria-expanded="true" aria-controls="collapse_review{{forloop.counter}}">
          Peer review {{forloop.counter}}
        </a>
      </h5>
    </div>
    <div id="collapse_review{{forloop.counter}}" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        <p>Please <a href="">access this peer review here</a>
        <p>Start date and time for this review: {{pr.dt_peer_reviews_start_by|date:"l, d F Y"}} at {{pr.dt_peer_reviews_start_by|time:"H:i" }}
        <p>You must complete <b>and submit</b> the review before: {{pr.dt_peer_reviews_completed_by|date:"l, d F Y"}} at {{pr.dt_peer_reviews_completed_by|time:"H:i" }}


        <!--{{item.submitted}}-->
      </div>
    </div>
  </div>
{% endfor %}
  </div>
</div>


{% endblock %}

<!--
<form enctype="multipart/form-data" method="post" action="/">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
</form>
-->

