{% extends "review/base.html" %}

{% block content %}

<p>Please upload the grades CSV format, based on the export from edX:


<form action="{% url 'import_edx_gradebook' %}" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="learner_ID" value="{{learner.user_ID}}">
    <input type="hidden" name="context_id" value="{{course.label}}">

    <label for="id_file_upload">File upload:</label>
    <input id="id_file_upload"
    initial_text="Upload the exported gradebook" name="file_upload" type="file" multiple="" required="">
    <input type="submit" value="Upload grades" name="submit"/>
</form>

{% endblock %}
